*{
  font-family: 'Azeret Mono', monospace;
}

header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div a{
  text-decoration: none;
}

.banner a{
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.name{
color: rgb(13, 19, 33);
font-size: 28px;
font-weight: 800;
line-height: 33px;
text-align: left; 
margin-left: 80px;
}
.top-btn{
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
display: flex;
justify-content: center;
align-items: center;
padding: 17px 24px 17px 24px;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
margin: 0px 10px;
}

.black-btn:hover{
  color: black;
  background-color: lightgray;
}

.banner{
  background-image: url(../images/Hero-bg.png);
  position: absolute;
  width: 1440px;
  height: 652px;
  
}
.tittle-img{
  display: block;
  margin: auto;
  margin-top: 26px;
}
.tittle{
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-style: bolder;
  font-size: 48px;
  font-weight: 800;
  text-align: center;  
}
.tittle-cmnt{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 24px 180px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.black-btn{
  margin: 32px 0px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 24px 21px 24px;
  margin: 0px 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  font-style: bolder;
  text-align: center;
}
.mid{
position: absolute;
/* display: flex; */
align-items: center;
margin: 700px 150px 10px 150px;
padding: 40px 97px 40px 97px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
text-align: center;
}

.mid-tittle{
display: flex;
justify-content: center;
align-items: center;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
text-align: center;
}
.mid-cmnt{
  position: static;
  width: 852px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.7;
  align-self: stretch;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.mid-container{
  position: static;
  width: 946px;
  height: 1235px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 10px;
  text-align: center;
}  
.display{
  display: flex;
}
.container-items{
  position: static;
  width: 850px;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex: none;
  align-self: stretch;
  margin: 32px 0px;
}

.container-text{
  position: static;
  width: 477px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0px 10px;
}
.container-tittle{
  position: static;
  width: 390px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  margin: 16px 0px;
  
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.container-description{
  position: static;
  width: 468px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  margin: 16px 0px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.lrn-btn{
position: static;
width: 150px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}

.ins{
position: absolute;
margin: 2100px 0px 150px 0px;
display: flex;

}
.ins-tittle{
  position: static;
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 24px 0px 0px 200px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.ins-text{
  position: static;
  width: 852px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  margin: 24px 0px 0px 310px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.ifrm-box{
  position: static;
  width: 1140px;
  height: 614px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
  align-self: stretch;
  margin: 48px 0px 50px 150px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

.ifrm{
  position: static;
  width: 1076px;
  height: 550px;
  align-self: stretch;
  margin: 10px 0px;
  border-radius: 16px;
}
.trgt-box{
  position: absolute;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  margin: 3000px 0px 200px 75px;
}
section div div a{
  /* text-decoration: none; */
  color: black;
}
section div div{
  display: flex;
}
.trgt-items{
  position: static;
  width: 1140px;
  height: 463px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  margin: 25px 0px;
}
.trgt-tittle{
  position: static;
  width: 852px;
  height: 39px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  margin: 5px 0px 0px 250px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.trgt-text{
  position: static;
  width: 852px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  margin: 24px 0px 25px 250px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.item-box{
  position: static;
  width: 1140px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  margin: 48px 0px;
}

.card-html{
  position: static;
  width: 364px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  margin: 0px 24px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.card-css{
  position: static;
  width: 364px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  margin: 0px 24px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.card-js{
  position: static;
  width: 364px;
  height: 299px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  margin: 0px 24px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.card-img{
  position: static;
  width: 56px;
  height: 56px;
  margin: 24px 0px;
}
.card-name{
  position: static;
  width: 284px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  margin: 8px 0px;
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  text-align: left;
}
.card-text{
  position: static;
  width: 284px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  margin: 8px 0px;
  opacity: 0.7;
 color: rgb(13, 19, 33);
 font-size: 16px;
 font-weight: 400;
 text-align: left; 
}
.card-btn{
position: static;
width: 284px;
height: 20px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
align-self: stretch;
margin: 24px 0px;  
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
text-align: left;
text-decoration-line: underline;
}
.btm-bg{
/* background-image: url(../images/handshake.jpg); */
background: rgba(0, 0, 0, 0.6) url('../images/handshake.jpg');
background-blend-mode: darken;
background-position: center;
/* opacity: .95; */
position: absolute;
width: 1140px;
height: 314px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
border-radius: 16px;
margin: 3600px 120px 60px 100px;
padding: 64px 48px 64px 48px;
}

.btm-txt{
 position: static;
 width: 292px;
 height: 36px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 46px auto 0px 450px; 
 color: rgb(255, 255, 255);
 font-size: 32px;
 font-weight: 700;
 text-align: center;
}
.btm-p{
  position: static;
  width: 606px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 26px auto 0px 300px;
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.brm-form{
  position: static;
  width: 684px;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 24px 0px;
}
.btm-input{
  position: absolute;
  width: 600px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 20px 19px 20px;
  margin: 0px 0px 16px 200px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  
}
.btm-btn{
  position: absolute;
  width: 120px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 20px 17px 20px;
  margin: 0px 16px 0px 825px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
footer div ul{
  list-style: none;
  display: flex;
  gap: 10px;
  position: static;
  width: 157.01px;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 10px;
}
footer div{
  display: flex;
  justify-content: space-around;
}
footer{
position: absolute;
display: flex;
width: 100%;
justify-content: center;
padding: 32px 150px 32px 150px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
margin: 4050px 0px 10px 80px; 
}
.footer-text{
  position: static;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 16px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}